body {
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Satoshi', sans-serif; */
}
.row {
  margin-right: 0;
  margin-left: 0;
}

.padding_left_0 {
  padding-left: 0;
}
.padding_top_50 {
  padding-top: 50px;
}

.header_section {
  padding: 15px 0px;
  background-color: #fff;
}
.company-logo {
  width: 100%;
}
.amin_banner_section {
  padding: 50px 0px;
  background-color: #fff1f2;
}
.amin_banner_title {
  color: #001625;
  font-size: 38px;
  line-height: 58px;
  font-weight: 700;
}
.amin_banner_content_img {
  width: 100%;
}
.amin_banner_counter {
  color: #105c8e;
  font-size: 38px;
  line-height: 48px;
  font-weight: 800;
  /* text-align: center; */
}
.amin_banner_counter_content {
  color: #001625;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  /* text-align: center; */
}

/* ADD FROM CODE THIS CLASS NAME ONLY */

/* .form_section {
  background-color: #105c8e;
  padding: 25px 15px;
  border-radius: 8px;
}
.candidate-form-title {
  color: #fff;
  text-align: center;
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
}
.form_section input {
  background-color: transparent;
  border-radius: 8px;
  color: #fff;
} */

.highlights_section {
  padding: 50px 0px;
}
.highlights_header {
  color: #001625;
  font-size: 38px;
  line-height: 58px;
  font-weight: 700;
  text-align: center;
}
.highlights_card {
  padding: 25px 20px;
  margin-top: 20px;
  border-radius: 10px;
}
.color {
  background-color: #e0e3ff;
}
.color1 {
  background-color: #ffceba;
}
.color2 {
  background-color: #d4eeff;
}
.color3 {
  background-color: #fff0ba;
}
.color4 {
  background-color: #c7fff6;
}
.color5 {
  background-color: #efe0ff;
}
.highlights_card_header {
  color: #000532;
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
}
.highlights_card_content {
  color: #000532;
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 0;
}
.about_section {
  padding: 80px 0px;
  background-color: #fff1f2;
}
.videos_content {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* margin-top: 20px; */
}
.about_section_content {
  /* padding: 80px 0px; */
}
.about_section_header {
  color: #001625;
  font-size: 38px;
  line-height: 58px;
  font-weight: 700;
}
.about_section_details {
  color: #000532;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 0;
}

.pre-course-section {
  background-color: #ffffff;
  padding: 50px 0px;
}
/* .pre-course-content-section {
  padding: 50px 0;
} */
.active {
  font-weight: 700;
  color: #ffffff !important;
  background-color: #bf2228 !important;
  border-radius: 10px;
}
.pre-course-card {
  background-color: #f6f6f6;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 10px;
  color: #000532;
}
.pre-course-title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  font-weight: 500;
}
.pre-course-details-cards {
  background-color: #f6f6f6;
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px 15px;
}
.pre-course-details-content {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000532;
  margin-bottom: 0;
}
.testimonial_section {
  padding: 50px 0px;
  background-color: #fff1f2;
}
.testimonial_section_card {
  padding: 25px 20px;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px;
}
.testimonial_image {
  width: 100%;
}
.testimonial_section_card_name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000532;
  margin-bottom: 0;
  margin-top: 8px;
}
.testimonial_section_card_details {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000532;
}
.testimonial_section_card_content {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000532;
}
.testimonial_rating_image {
  text-align: center;
}
.testimonial_rating {
  width: 250px;
}
.partners_section {
  padding: 50px 0px;
}
.partners_section_images {
  /* width: 100%; */
  /* margin-right: 20px; */
}
.footer_section {
  background-color: #105c8e;
  padding: 15px 0;
}
.footer_section_content {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 0;
}
.footer_section_content_symbol {
  font-size: 20px;
  vertical-align: middle;
}
.footer_section_content_address{
  color: #044976;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
  text-align: center;
}
.footer_section_content_address1{
  color: #044976;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 6px;
}

.mobileonly {
  display: none !important;
}

.desktoponly {
  display: block !important;
}
@media only screen and (max-width: 480px) {
  .mobileonly {
    display: block !important;
  }

  .desktoponly {
    display: none !important;
  }
  .padding_top_50 {
    padding-top: 20px !important;
  }
  .amin_banner_section {
    padding: 20px 0px !important;
  }
  .amin_banner_title {
    font-size: 26px !important;
    line-height: 36px !important;
    /* text-align: center; */
  }
  .amin_banner_counter {
    font-size: 22px !important;
    line-height: 22px !important;
    text-align: center;
  }
  .amin_banner_counter_content {
    font-size: 12px !important;
    line-height: 16px !important;
    text-align: center;
  }
  .highlights_section {
    padding: 20px 0px !important;
  }
  .highlights_header {
    font-size: 26px !important;
    line-height: 36px !important;
  }
  .highlights_card {
    padding: 15px 15px !important;
    margin-top: 10px !important;
  }
  .highlights_card_header {
    font-size: 24px !important;
  }
  .about_section {
    padding: 20px 0px !important;
  }
  .videos_content {
    margin-top: 10px;
  }
  .about_section_header {
    font-size: 26px !important;
    line-height: 36px !important;
  }
  .about_section_details {
    font-size: 14px !important;
    line-height: 26px !important;
  }
  /* .about_section_content {
    padding: 20px 0px;
} */
  .testimonial_section {
    padding: 20px 0px !important;
  }
  .testimonial_rating {
    width: 200px !important;
  }
  .partners_section {
    padding: 20px 0px !important;
  }
  .pre-course-section {
    padding: 20px 0px !important;
  }
  .card {
    border: none !important;
  }
  .card-header {
    background-color: #bf2228 !important;
    color: #fff !important;
    font-weight: 600 !important;
    margin-top: 15px !important;
    border-top-left-radius: 8px !important ;
    border-top-right-radius: 8px !important;
    font-size: 16px !important;
    padding: 10px 0px !important;
  }
  .card-body {
    border-bottom: 1px solid #000532 !important;
    border-left: 1px solid #000532 !important;
    border-right: 1px solid #000532 !important;
    border-bottom-left-radius: 8px !important ;
    border-bottom-right-radius: 8px !important;
    padding: 10px 15px;
    color: #000532 !important;
    font-size: 14px !important;
  }
  .btn-link {
    font-weight: 600;
    color: #fff !important;
    background-color: transparent;
    text-decoration: none !important;
    text-align: left !important;
  }

  /* form style */

  .candidate-form-title {
    font-size: 16px !important;
  }
  .footer_section_content_address{
    font-size: 11px !important;
    line-height: 18px !important;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
  }
  .footer_section_content_address1{
    font-size: 11px !important;
    margin-bottom: 10px !important;
    text-align: center !important;
    margin-top: 0px !important;
    font-weight: 600;
  }
}

@media only screen and (max-width: 768px) {
  .partners_section,
  .testimonial_section,
  .about_section,
  .highlights_section,
  .amin_banner_section,
  .pre-course-section {
    padding: 30px 0px;
  }
  .testimonial_rating {
    width: 150px;
  }
  .amin_banner_title {
    font-size: 30px;
    line-height: 40px;
  }
  .amin_banner_counter {
    font-size: 30px;
    line-height: 40px;
  }
  .amin_banner_counter_content {
    font-size: 18px;
    line-height: 30px;
  }
  .highlights_header {
    font-size: 30px;
    line-height: 40px;
  }
  .highlights_card_header {
    font-size: 26px;
  }
  .highlights_card_content {
    font-size: 14px;
  }
  .about_section_header {
    font-size: 30px;
    line-height: 40px;
  }
  .pre-course-title {
    font-size: 14px;
  }
  .pre-course-details-content {
    font-size: 14px;
  }
  .testimonial_section_card_name {
    font-size: 13px;
    margin-top: 0px;
  }
  .testimonial_section_card_details {
    font-size: 12px;
  }
  .testimonial_section_card {
    padding: 20px 10px;
    margin-top: 10px;
  }
  .footer_section_content {
    font-size: 13px;
  }

  /* form style  */

  .candidate-form {
    padding: 20px 15px !important;
  }
  .footer_section_content_address{
    font-size: 14px;
    line-height: 24px;
  }
  .footer_section_content_address1{
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
  }
  
}

/* Form Style */

.candidate-form {
  background-color: #105c8e;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 10px 10px 0px 3px #FFC30C; */
}

.candidate-form-title {
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
  color: #fff;
  text-align: center;
}

.input-inside {
  position: relative;
  /* margin-top: 20px; */
  margin-bottom: 20px;
  width: 100%;
  display: grid;
  justify-items: center;
}
.form-control {
  box-shadow: none !important;
  outline: none !important;
}
.input {
  display: block;
  padding: 7px 10px;
  outline: none;
  border: 2px solid rgba(184, 226, 254, 1);
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  color: #d4eeff;
}

/* ::placeholder {
  color: #b0bbc2;
  opacity: 1; 
}

::-ms-input-placeholder { 
  color: #b0bbc2;
}
.form-select::placeholder {
  background-color: transparent !important;
  color: #b0bbc2 !important;
} */
.input::placeholder {
  background-color: transparent ;
  color: #b0bbc2;
}

.input:focus {
  border: 2px solid rgba(184, 226, 254, 1);
  background-color: transparent !important;
  color: #d4eeff !important;
}

.input-label {
  position: absolute;
  top: 8px;
  left: 8px;
  opacity: 0;
  background-color: transparent;
  padding: 0 2px;
  font-size: 1rem;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.input:valid + .input-label {
  opacity: 1;
  top: -11px;
  color: #9e9e9e;
  font-weight: 600;
}

.input:focus + .input-label {
  color: #000;
}

.candidate-form-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  background-color: rgba(191, 34, 40, 1);
  padding: 5px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.candidate-form-button {
  text-align: center;
}

.candidate-form-footer {
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #242842;
}

.form-select {
  color: #b0bbc2;
}
.form-select-option{
  color: #000000;
}
.already_btn{
  border: none;
  color: #FFF;
  font-weight: 500;
  background-color: transparent;
  margin-top: 15px;
}
